.carousel-dark .carousel-caption {
  color: white;
}
.text_light {
  background-color: white;
  color: white;
}
.header__menu {
  width: 24px;
  height: 22px;
  display: block;
}
@media (min-width: 1200px) {
  .header__form-input {
    width: 100%;
  }
}
.header__form-input {
  width: calc(100% - 40px);
  height: 40px;
  border-radius: 16px;
  background-color: #151f30;
  border: none;
  padding: 0 60px 0 20px;
  font-size: 14px;
  color: #fff;
}

@media (min-width: 1200px) {
  .header__form {
    position: relative;
    opacity: 1;
    pointer-events: auto;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    width: 250px;
  }
}
